.image-border img
{
border: 25px solid #000;
border-radius 10px;
}
.center-image{text-align: center;}
.center-text{text-align: center;}
.center-image img{display: inline-block;}
.text-colour{color:#22ff00;}
.text-stroke{text-stroke: 4px #000000;}

.title{font-size:125px;}
.button1{background-color:#04AA6D;}
.animation 
{
  width: 1000px;
  height: 1000px;
  position: relative;
  animation: myfirst 5s linear 2s infinite alternate;
}

@keyframes myfirst {
  0%   {
    transform:translateX(200px);
    transform:rotate(0deg);         
  }
  25%  {
    transform:translateY(-200px);
    transform:rotate(90deg)
  }
  50%  {
    transform:translateX(-200px);
    transform:rotate(180deg);
  }
  75%  {
    transform:translateY(200px);
    transform:rotate(270deg);
  }
  100% {
    left:0px; top:0px;
    transform:rotate(360deg);
  }
}
